.user {
    color: var(--user-color);
}

.message-user-mention {
    font-weight: bold;
    color: var(--user-color);
    filter: brightness(130%) saturate(90%);
    cursor: pointer;
    position: relative;
}

.members {
    list-style: none;
    padding: 5px;
    margin: 0;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    text-align: right;
}

.members .member {
    padding: 10px;
    background: #222;
    margin-top: 10px;
    border-radius: 5px;
    border-right: 5px solid var(--user-color);
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}